name: dagger
on:
  pull_request:
    branches:
      - main

env:
  PR_NUMBER: ${{ github.event.number }}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Call Dagger Function
        uses: dagger/dagger-for-github@v5
        with:
          version: "latest"
          verb: call
          module: github.com/okteto/dagger-module
          args: preview-deploy --repo=https://github.com/${GITHUB_REPOSITORY} --branch=$GITHUB_HEAD_REF --pr=github.com/${GITHUB_REPOSITORY}/pull/${PR_NUMBER} --context=https://arsh.okteto.me --token=${{ secrets.OKTETO_TOKEN }} --output=./endpoints.txt
      # Read the output of the previous step
      - name: Read output
        id: read_output
        run: |
          output=$(awk '{printf "%s\\n", $0}' endpoints.txt)
          echo "$output"
          echo "::set-output name=step_output::$output"
      # Comment on the pull request with the output of the previous step
      - name: Comment on PR
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            const output = `Preview Endpoints are: 
            ${{ steps.read_output.outputs.step_output }}`;
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            });