on:
  pull_request:
    types:
      - closed

jobs:
  closed:
    runs-on: ubuntu-latest
    steps:
    - name: Call Dagger Function
      uses: dagger/dagger-for-github@v5
      with:
        version: "latest"
        verb: call
        module: github.com/okteto/dagger-module
        args: preview-destroy --branch=$GITHUB_HEAD_REF --context=https://arsh.okteto.me --token=${{ secrets.OKTETO_TOKEN }}